.Cart-table {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(240,240,240);
    box-shadow: -5px 5px 10px rgb(0,0,0,0.2), 5px 5px 10px rgb(0,0,0,0.2);
    border: 1px solid rgb(0,0,0,0.3);
    width: 300px;
    z-index: 1;
}